@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: calc(100vh - 40px);
  font-family: 'Open Sans', sans-serif;
  background: #222;
  background-image: url('https://source.unsplash.com/1600x900/?weather');
  font-size: 120%;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #000000d0;
  color: white;
  font-size: 80%;
  padding: 0.6em 2em;
  box-sizing: border-box; 
  width: 100%;
  height: 40px;
}

.menu-celsius {
  margin-right: 0.1em;
}

.menu-celsius,
.menu-fahrenhiet {
  padding: 0.3em;
  font-weight: 700;
}

.menu-celsius:hover,
.menu-fahrenhiet:hover,
.menu-celsius:active,
.menu-fahrenhiet:active {
  border: 1px solid #fff;
  cursor: pointer;
  }

.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 10px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 20%;
  border: none;
  height: 40px;
  width: 44px;
  outline: none;
  background: #7c7c7c;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 8px;
  background: #7c7c7c2b;
  color: #fff;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading::after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

.button-border {
  border: 1px solid #fff;
}
